{% block content %}
  {% for alert in alerts %}
    <article class="alert">
      <header>
        <div>
          <h1>{{ alert['title'] }}</h1>
          <div class="about">email {{alert['email']}} on {{ alert['schedule']}}</div>
        </div>
        <a href="{{ url_for('alerts.edit', id=alert['id']) }}" class="button">Edit this alert</a>
      </header>
    </article>
    <form action="{{ url_for('alerts.delete', id=alert['id']) }}" method="post">
      <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    </form>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}